<body class="log-body">
<form method="post" action="create">
    <label for="name">Enter name:</label><br>
    <input type="text" name="name" placeholder="User name"><br>
    <label for="email">Enter email:</label><br>
    <input type="email" name="email" placeholder="User email"><br>
    <input type="submit" value="Create" class="btn btn-sm btn-dark">
</form>
</body>