<body class="dept-create">
<div class="dept">
    <form method="post" action="create">
        <label for="name">Enter name:</label><br>
        <input type="text" name="name" placeholder="Dept name"><br>
        <label for="time">Duration:</label><br>
        <input type="number" name="time" placeholder="Duration" min="0"><br>
        <label for="start">Beginning time:</label><br>
        <input type="datetime-local" name="start" value="2022-01-01T00:00"><br>
        <label for="end">End time:</label><br>
        <input type="datetime-local" name="end" value="2022-01-01T00:00"><br>
        <input type="submit" value="Create" class="btn btn-sm btn-dark">
    </form>
</div>
</body>