<nav class="nav nav-masthead justify-content-center menu">
    <div class="container d-flex flex-column flex-md-row justify-content-between col-lg-12">

        <a href="/" class="py-2 d-none d-md-inline-block "><img
                    src="https://image.shutterstock.com/z/stock-vector-people-planning-concept-entrepreneurship-and-calendar-schedule-planning-with-filling-course-1523635688.jpg"
                    alt="" width="60" height="60"></a>
        <a href="/" class="py-2 d-none d-md-inline-block click">Home</a>
        <a href="/contact" class="py-2 d-none d-md-inline-block click">Contact</a>
        <a href="/backend" class="py-2 d-none d-md-inline-block click">Log_In</a>

    </div>
</nav>